/*
 * Dit is de custom style sheet van jouw website
 *
 */

/*
* {
    padding: 0;
    margin: 0;
}
*/

body {

}

.desc {

	background-color: #fff;
	border: 1px solid #000;
	position: absolute;
	margin-left: 100px;
	margin-top: -20px;
	width: 200px;
		
}

footer {
    background-color: indianred;
    color: white;
}